body {

}

#root {
  background-color: gray;
}

#header {
  
}

nav {
  border: 1px solid blue;
}

#wrap {
  position: relative;
  min-width: 1280px;
  max-width: 2560px;
  overflow: hidden;
  margin: 0 auto;
}

#footer {
	
}